.navbar {
   display: flex;
   position: fixed;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   background-color: #333;
   color: #eeeeee;
   border-bottom: 1px solid #222;
   z-index: 101;
}

.name {
   font-size: 1.5rem;
   margin: 0.5rem;
   text-decoration: none;
   color: #eeeeee;
}

.navbar-links {
   height: 100%;
}

.navbar-links ul {
   display: flex;
   margin: 0;
   padding: 0;
}

.navbar-links li {
   list-style: none;
}

.navbar-links li a {
   display: flex;
   text-decoration: none;
   color: #eeeeee;
   padding: 1rem;
   position: relative;
   justify-content: center;
}

.navbar-links ul li a:hover {
   background-color: #555;
}

.navbar-links ul li a::after {
   content: '';
   position: absolute;
   display: block;
   bottom: 0;
   width: 0;
   height: 2px;
   background: #eeeeee;
   transition: width 0.3s;
   max-width: 125px;
}

.active {
   background-color: #444;
}

.navbar-links ul li a:hover::after {
   width: 100%;
}

.toggle-menu {
   display: none;
   cursor: pointer;
   position: absolute;
   top: 0.5rem;
   right: 0.5rem;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #eee;
   font-size: 2.5rem;
}

@media (max-width: 768px) {
   .navbar {
      flex-direction: column;
      align-items: flex-start;
   }
   .toggle-menu {
      display: flex;
   }

   .navbar-links {
      display: none;
      width: 100%;
   }

   .navbar-links ul {
      width: 100%;
      flex-direction: column;
   }

   .navbar-links ul li {
      text-align: center;
   }

   .navbar-links ul li a {
      padding: 0.5rem 1rem;
   }

   .navbar-links.menu-open {
      display: flex;
   }
   .navbar-links ul li a:hover::after {
      width: 0;
   }
}
